<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="header">
      <p>Olá, Cidadão!</p>
      <i (click)="close()" class="fa-solid fa-x"></i>
    </div>

    <div class="body">
      <h3>Olá, Cidadão! Seja bem vindo.</h3>

      <form (ngSubmit)="onSubmit()" [formGroup]="formCadastro">
        <fieldset>
          <legend>Dados pessoais</legend>
          <div class="form-data">
            <input
              formControlName="nome"
              type="text"
              name="nome"
              id="nome"
              placeholder="Nome"
              [class.danger]="
                formCadastro.get('nome')?.touched &&
                formCadastro.get('nome')?.invalid
              "
            />
            <input
              formControlName="cpf"
              type="text"
              name="cpf"
              id="cpf"
              placeholder="CPF"
              #cpf
              [value]="formCadastro.get('cpf')?.value | cpf"
              (input)="onCpfInput(cpf.value)"
              maxlength="14"
              required
              [class.danger]="
                formCadastro.get('cpf')?.touched &&
                formCadastro.get('cpf')?.invalid
              "
            />
            <input
              formControlName="data_nascimento"
              type="date"
              name="dataNascimento"
              id="dataNascimento"
              placeholder="Data de nascimento"
              required
              [class.danger]="
                formCadastro.get('data_nascimento')?.touched &&
                formCadastro.get('data_nascimento')?.invalid
              "
            />
          </div>
        </fieldset>

        <fieldset>
          <legend>Endereço</legend>
          <div class="form-data">
            <input
              formControlName="logradouro"
              type="text"
              name="logradouro"
              id="logradouro"
              placeholder="Logradouro"
              required
              [class.danger]="
                formCadastro.get('logradouro')?.touched &&
                formCadastro.get('logradouro')?.invalid
              "
            />
            <div>
              <input
                formControlName="bairro"
                type="text"
                name="bairro"
                id="bairro"
                placeholder="Bairro"
                required
                [class.danger]="
                  formCadastro.get('bairro')?.touched &&
                  formCadastro.get('bairro')?.invalid
                "
              />
              <input
                formControlName="numero"
                type="text"
                name="numero"
                id="numero"
                placeholder="Numero"
                [class.danger]="
                  formCadastro.get('numero')?.touched &&
                  formCadastro.get('numero')?.invalid
                "
              />
            </div>
            <input
              formControlName="cidade"
              type="text"
              name="cidade"
              id="cidade"
              placeholder="Cidade"
              [class.danger]="
                formCadastro.get('cidade')?.touched &&
                formCadastro.get('cidade')?.invalid
              "
            />
            <input
              formControlName="estado"
              type="text"
              name="estado"
              id="estado"
              placeholder="Estado"
              [class.danger]="
                formCadastro.get('estado')?.touched &&
                formCadastro.get('estado')?.invalid
              "
            />
            <input
              formControlName="cep"
              type="text"
              name="cep"
              id="cep"
              placeholder="cep"
              [value]="formCadastro.get('cep')?.value | cep"
              (input)="onCpfInput(cpf.value)"
              [class.danger]="
                formCadastro.get('cep')?.touched &&
                formCadastro.get('cep')?.invalid
              "
              maxlength="8"
            />
          </div>
        </fieldset>

        <fieldset>
          <legend>Dados de acesso</legend>
          <div class="form-data">
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              placeholder="email"
              [class.danger]="
                formCadastro.get('email')?.touched &&
                formCadastro.get('email')?.invalid
              "
            />
            <div>
              <input
                formControlName="telefone"
                type="tel"
                name="telefone"
                id="telefone"
                placeholder="telefone"
                [class.danger]="
                  formCadastro.get('telefone')?.touched &&
                  formCadastro.get('telefone')?.invalid
                "
              />
              <input
                formControlName="password"
                type="password"
                name="password"
                id="password"
                placeholder="password"
                autocomplete="new-password"
                [class.danger]="
                  formCadastro.get('password')?.touched &&
                  formCadastro.get('password')?.invalid
                "
              />
            </div>
            <input
              formControlName="confirm_password"
              type="password"
              name="confirm-password"
              id="confirm-password"
              placeholder="confirm-password"
              autocomplete="new-password"
              [class.danger]="
                formCadastro.get('confirm_password')?.touched &&
                formCadastro.get('confirm_password')?.invalid
              "
            />

            <input
              formControlName="imagem_perfil"
              type="file"
              name="imagem_perfil"
              id="imagem_perfil"
              accept="image/*"
              title="imagem_perfil"
            />

            <input
              formControlName="imagem_background"
              type="file"
              name="imagem_background"
              id="imagem_background"
              accept="image/*"
              title="imagem_background"
            />
          </div>
        </fieldset>

        <div class="container-buttons">
          <button id="reset" (click)="reset()" type="button">reset</button>
          <button id="submit" [disabled]="formCadastro.invalid" type="submit">
            Cadastrar-se
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
