<head>

</head>

<div class="container">
  <div class="sidebar-slider">
    <button type="button" class="btn-slider">
      Fechar
    </button>
  </div>

  <div class="userInfo">
    <div class="containerUserImg">
      <img class="userImg" [src]="" alt="" >
    </div>
    <h4 class="userName">Jutowisky Latnówiskys</h4>
    <p class="userUserName">JutowiskyLatnówiskys</p>
  </div>

  <nav class="sidebar-nav">
    <button type="button" class="btnSidebar">Publicações</button>
    <button type="button" class="btnSidebar">Métricas</button>
    <button type="button" class="btnSidebar">Prefeitura</button>
    <button type="button" class="btnSidebar">configurações</button>
    <button type="button" class="btnSidebar btnMainfest">Manifestar-se</button>
  </nav>
</div>