<head>

</head>
<div class="container">
  <div class="sidebar-slider">
    <button class="btn-slider">
      Fechar
    </button>
  </div>
  <div class="userInfo">
    <img src="" alt="" class="userImg">
    <p class="userName"></p>
    <span class="userUserName"></span>
  </div>
  <nav class="sidebar-nav">
    <button class="btnSidebar">Publicações</button>
    <button class="btnSidebar">Métricas</button>
    <button class="btnSidebar">Prefeitura</button>
    <button class="btnSidebar">configurações</button>
    <button class="btnSidebar btnMainfest">Manifestar-se</button>
  </nav>
</div>