<header class="container">
  @if (userCidadao) {

  <div class="row-1">
    <div class="userInfo">
      <div class="containerUserImg">
        <a routerLink="/user"
          ><img class="userImg" [src]="userCidadao.imagem_perfil" alt="Perfil"
        /></a>
      </div>
      <a routerLink="/user">
        <h4 class="userName">{{ userCidadao.nome | titlecase }}</h4>
      </a>
    </div>

    <button routerLink="/configuracoes" type="button" title="configuracoes">
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>

  <nav class="">
    <button routerLink="/" type="button" title="Manifestações">
      <i class="fa-regular fa-compass"></i>
    </button>

    <button type="button" title="Pesquisa">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <button routerLink="/metricas" type="button" title="Métricas">
      <i class="fa-solid fa-arrow-trend-up"></i>
    </button>

    <button routerLink="/prefeitura" type="button" title="Prefeitura">
      <i class="fa-solid fa-house"></i>
    </button>

    <button type="button" title="perfil">
      <div class="containerUserImg">
        <a routerLink="/user"
          ><img class="userImg" [src]="userCidadao.imagem_perfil" alt="Perfil"
        /></a>
      </div>
    </button>
  </nav>

  <button id="manifestar" (click)="openModal()" type="button" title=".">
    <i class="fa-solid fa-plus"></i>
  </button>
  } @else {
  <div id="not-user">
    <p id="out-message">Entre ou cadastre-se para se manifestar</p>
    <div class="buttons-not-user">
      <button (click)="openLogin()" class="btnSidebar entrar out" type="button">
        Entrar
      </button>
      <button (click)="openCadastro()" type="button" class="btnSidebar out">
        Cadastrar
      </button>
    </div>
  </div>
  }
</header>

<app-login
  (autorizacao)="autorizado($event)"
  [isOpen]="isLoginOpen"
  [close]="closeLogin.bind(this)"
></app-login>

<app-cadastro
  [isOpen]="isCadastroOpen"
  [close]="closeCadastro.bind(this)"
></app-cadastro>

<app-nova-manifestacao
  [isOpen]="isModalOpen"
  [close]="closeModal.bind(this)"
></app-nova-manifestacao>
