<div class="container">
  <div class="container-busca">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="busca" id="ibusca" placeholder="Buscar" />
  </div>

  <p>Secretarias com mais manifestações</p>

  <div class="tags">
    <div class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Infraestrutura</span>
    </div>
    <div class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Segurança</span>
    </div>
    <div class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Dados Ciberné...</span>
    </div>
    <div class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Infraestrutura</span>
    </div>
  </div>

  <p routerLink="/">Mais Secretarias...</p>

  <ul>
    <li>Privacidade</li>
    <li>Termos de uso</li>
    <li>Ajuda</li>
  </ul>
</div>
