@use '../../../styles.sass' as global

.container
  width: 260px
  position: fixed
  right: 0
  top: 0
  background-color: global.$main-bg
  height: 100%
  padding: 20px 12px
  transition: all 0.3s ease
  border-left: 1px solid global.$border-color
  display: flex
  flex-direction: column
  gap: 15px

  p
    &:nth-of-type(2)
      padding-left: 10px 
      font-size: 0.9em
      color: global.$btn-alt-bg
      font-weight: 500
      

.container-busca
  position: relative
  background-color: white
  border-radius: 7px
  margin-bottom: 6px
  padding: 0px
  i
    position: absolute
    top: 50%
    left: 8px
    font-size: 1.15em
    transform: translateY(-50%)
    color: global.$alt-fontColor
    

input
  width: 100%
  padding: 10px
  padding-left: 32px
  border-radius: 7px
  border: none
  padding-top: 12px
  font-size: 1em
  color: global.$alt-fontColor
  &:focus
    outline: none


.tags
  display: flex
  flex-direction: column
  gap: 7px

.tag-item
  font-size: .86em
  background-color: global.$colord9
  padding: 5px 20px 5px 10px
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 3px
  border-radius: 20px

  span
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  i
    font-size: .9em

ul
  margin-top: 20px
  list-style: none
  list-style-position: inside
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 10px
  flex-wrap: wrap

  li
    font-size: 12px
    color: global.$alt-fontColor