<div class="container">
  <div class="container-busca">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="busca" id="ibusca" placeholder="Buscar" />
  </div>

  <p>Secretarias com mais manifestações</p>

  <div class="tags">
    <button type="button" class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Infraestrutura</span>
    </button>
    <button type="button" class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Segurança</span>
    </button>
    <button type="button" class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Dados Ciberné...</span>
    </button>
    <button type="button" class="tag-item">
      <i class="fa-solid fa-hashtag"></i>
      <span>Secretaria de Infraestrutura</span>
    </button>

    <div class="hideTags" type="button" *ngIf="tags">
      <button type="button" class="tag-item">
        <i class="fa-solid fa-hashtag"></i>
        <span>Secretaria de Infraestrutura</span>
      </button>
      <button type="button" class="tag-item">
        <i class="fa-solid fa-hashtag"></i>
        <span>Secretaria de Infraestrutura</span>
      </button>
    </div>
  </div>

  <button id="moreTags" type="button" (click)="moreTags()">
    {{ tags ? "Mostrar menos..." : "Mais Secretarias..." }}
  </button>

  <ul>
    <li><a href="">Privacidade</a></li>
    <li><a href="">Termos de uso</a></li>
    <li><a href="">Ajuda</a></li>
  </ul>
</div>
