<article class="feed">
  <header>
    <img src="images/logo_variante1.png" alt="logo Olá,Cidadão!" />
    <!-- <h1>Olá, Cidadão!</h1> -->

    <nav>
      <button type="button" id="popular">Populares</button>

      <div>
        <button routerLink="/manifestation" type="button">Manifestações</button>
        <button routerLink="/postagens" type="button">Prefeitura</button>
        <button routerLink="/respostas" type="button">Respondidas</button>
      </div>
    </nav>
  </header>

  <div>
    <router-outlet></router-outlet>
    <!-- <app-manifestation *ngIf="showAppManifestacao"></app-manifestation>
    <app-postagens *ngIf="showAppPostagens"></app-postagens> -->
  </div>
</article>
