<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <form (ngSubmit)="onSubmit()" [formGroup]="formManifestationEdit">
      <div class="body">
        <legend class="header">
          <h4>Informações pessoais</h4>
          <i (click)="close()" class="fa-solid fa-x"></i>
        </legend>

        <div class="form-group">
          <h4>Descrição</h4>
          <textarea
            formControlName="conteudo"
            name="conteudo"
            id="conteudo"
            title="."
            maxlength="400"
            [(ngModel)]="conteudoLength"
          ></textarea>
        </div>

        <div class="observations">
          <p [class.alert]="conteudoLength.length >= 400">
            {{ 400 - conteudoLength.length }} Caracteres restantes
          </p>
        </div>

        @if (selectedImage) {
        <img
          [src]="selectedImage"
          *ngIf="selectedImage"
          title="Imagem da manifestação"
        />
        } @else { @if (manifestation.imagem) {
        <img [src]="manifestation.imagem" alt="Imagem da manifestação" />
        } }

        <input
          formControlName="imagem"
          type="file"
          name="imagem"
          id="imagem"
          hidden
          title="imagem"
          (change)="onFileChanged($event)"
        />
      </div>

      <div class="container-buttons">
        <button
          class="btn-default"
          id="changeImage"
          (click)="alterarImagem()"
          type="button"
        >
          Alterar imagem
        </button>
        <button class="btn-default" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
