<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- <div class="header">
      <p>Informações pessoais</p>
      <i (click)="close()" class="fa-solid fa-x"></i>
    </div> -->

    <form (ngSubmit)="onSubmit()" [formGroup]="formManifestationEdit">
      <div class="body">
        <legend class="header">
          <h4>Informações pessoais</h4>
          <i (click)="close()" class="fa-solid fa-x"></i>
        </legend>

        <!-- <div class="form-group">
          <div class="form-data">
            <label for="name">Nome de usuário</label>
            <input formControlName="nome" type="text" name="name" id="name" />
          </div>

          <div class="form-data">
            <label for="telefone">telefone</label>
            <input
              formControlName="telefone"
              type="text"
              name="telefone"
              id="telefone"
            />
          </div>
        </div> -->

        <div class="form-group">
          <h4>Descrição</h4>
          <textarea
            formControlName="conteudo"
            name="conteudo"
            id="conteudo"
            title="."
            maxlength="400"
            [(ngModel)]="conteudoLength"
          ></textarea>
        </div>

        <div class="observations">
          <p [class.alert]="conteudoLength.length >= 400">
            {{ 400 - conteudoLength.length }} Caracteres restantes
          </p>
        </div>

        @if (selectedImage) {
        <img [src]="selectedImage" *ngIf="selectedImage" title="." />
        } @else { @if (manifestation.imagem) {
        <img [src]="manifestation.imagem" alt="a" />
        } }

        <input
          formControlName="imagem"
          type="file"
          name="imagem"
          id="imagem"
          hidden
          title="."
          (change)="onFileChanged($event)"
        />
      </div>

      <div class="container-buttons">
        <button
          class="btn-default"
          id="changeImage"
          (click)="alterarImagem()"
          type="button"
        >
          Alterar imagem
        </button>
        <button class="btn-default" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
