<div
  (scroll)="onScroll($event)"
  class="manifestations-container"
  [style.padding]="padding"
>
  <div
    class="manifestation"
    *ngFor="let manifestation of manifestations; let i = index"
    (scroll)="onScroll($event)"
  >
    <p>
      {{ manifestation.conteudo }}
    </p>

    <i
      *ngIf="userLogged && manifestation.cidadao === infoId"
      (click)="moreOptions(i)"
      id="more"
      class="fa-solid fa-ellipsis"
    ></i>

    <div *ngIf="options[i]" class="moreOptions">
      <button (click)="editarManifestation(manifestation)" type="button">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Editar</span>
      </button>
      <button (click)="deleteManifestation(manifestation.id)" type="button">
        <i class="fa-solid fa-trash"></i>
        <span>Apagar</span>
      </button>
    </div>

    <div *ngIf="manifestation.imagem" class="feed-image">
      <img [src]="manifestation.imagem" alt="" />
    </div>

    <div class="feed-information-1">
      <div class="tags">
        @if (manifestation.orgao) {
        <div
          *ngIf="manifestation.respostas.length == 0"
          class="tag-item pending"
        >
          <i class="fa-regular fa-clock"></i>
          <span>Pendente de resposta</span>
        </div>
        <div
          *ngIf="manifestation.respostas.length > 0"
          class="tag-item respondido"
        >
          <i class="fa-solid fa-check"></i>
          <span>Respondido</span>
        </div>

        <div class="tag-item">
          <i class="fa-solid fa-hashtag"></i>
          <span> {{ manifestation.nome_orgao }} </span>
        </div>
        }
      </div>

      <a class="share" href="#" title="Compartilhar"
        ><i class="fa-solid fa-share-from-square"></i
      ></a>
    </div>

    <div class="container-information-feed">
      <div class="user-information">
        <div class="user-information-image">
          @if (manifestation.imagem_perfil) {
            <img [src]="manifestation.imagem_perfil" alt="" loading="lazy" />
          } @else {
            <h2>{{ manifestation.nome_cidadao.substring(0, 1) | uppercase }}</h2>
          }
        </div>

        <div class="name">
          <h4>{{ manifestation.nome_cidadao }}</h4>
          <span>{{ manifestation.data_criacao | timeAgo }}</span>
        </div>
      </div>

      <div class="container-btn-interation">
        <div
          [class.disliked]="manifestation.disliked"
          (click)="dislike(manifestation)"
          class="btn-interation"
        >
          <span>{{ manifestation.qtd_down }}</span>
          <i class="fa-solid fa-arrow-down"></i>
          <span>Descer</span>
        </div>

        <div
          [class.liked]="manifestation.liked"
          (click)="like(manifestation)"
          class="btn-interation"
        >
          <span>{{ manifestation.qtd_up }}</span>
          <i class="fa-solid fa-arrow-up"></i>
          <span>Subir</span>
        </div>
      </div>
    </div>

    <div class="comments">
      <span id="showComments" (click)="showComments(manifestation)"
        >Comentários ({{ manifestation.respostas.length }})</span
      >
    </div>

    <div
      *ngIf="manifestation.respostas.length > 0 && manifestation.show"
      class="container-comments"
    >
      <div *ngFor="let resposta of manifestation.respostas" class="comment">
        <h4>Usuário: {{ resposta.usuario }}</h4>
        <span>{{ resposta.data_criacao | date : "short" }} </span>
        <p>
          {{ resposta.conteudo }}
        </p>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="loading" class="loading-spinner"></div> -->
</div>

<app-edit-manifestation
  [isOpen]="isModalEditManifestationOpen"
  [close]="closeModalEditManifestation.bind(this)"
  [manifestation]="manifestation"
></app-edit-manifestation>
