<head> </head>

<div class="container">
  <!-- <div class="sidebar-slider">
    <button type="button" class="btn-slider">Fechar</button>
  </div> -->

  <div class="userInfo">
    <div class="containerUserImg">
      <a routerLink="/user"><img class="userImg" src="images/cat2.jpg" alt="" /></a>
    </div>

    <a routerLink="/user">
      <h4 class="userName">Jutowisky Latnówiskys</h4>
    </a>
    <span class="countUserName">JutowiskyLatnówiskys</span>
  </div>

  <nav class="sidebar-nav">
    <button routerLink="/" type="button" class="btnSidebar">
      <i class="fa-regular fa-compass"></i><span>Publicações</span>
    </button>
    <button routerLink="/metricas" type="button" class="btnSidebar">
      <i class="fa-solid fa-arrow-trend-up"></i><span>Métricas</span>
    </button>
    <button routerLink="/prefeitura" type="button" class="btnSidebar">
      <i class="fa-solid fa-house"></i><span>Prefeitura</span>
    </button>
    <button routerLink="/configuracoes" type="button" class="btnSidebar">
      <i class="fa-solid fa-gear"></i><span>configurações</span>
    </button>
    <button routerLink="/nova-manifestacao" type="button" class="btnSidebar btnMainfest">
      <span>Manifestar-se</span>
    </button>
  </nav>

  <p>Prefeitura de Jequié. Cidade de Jequié, Bahia - Brasil.</p>
</div>
