<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="header">
      <p>Olá, Cidadão!</p>
      <i (click)="close()" class="fa-solid fa-x"></i>
    </div>

    <div class="body">
      <h3>Olá, Cidadão! Seja bem vindo.</h3>

      <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
        <div class="alert" *ngIf="alert">
          <span>Usuário não encontrado</span>
        </div>
        <div class="form-data">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            formControlName="email"
          />
          <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Senha"
            formControlName="senha"
          />
        </div>

        <div>
          <div>
            <input
              type="checkbox"
              name="lembrarAcesso"
              id="remenberAccess"
              formControlName="remenber"
            />
            <label for="remenberAccess"> Lembrar acesso </label>
          </div>

          <a href="">Esqueceu?</a>
        </div>

        <button class="btn-default" type="submit">Entrar</button>

        <a href="" class="not-acount">Não tem uma conta? Cadastre-se</a>
      </form>
    </div>
  </div>
</div>
