<div class="container">
  <form action="" class="form-container">
    <h2 class="form-title"></h2>
    <div class="form-content">
      <div class="form-data">
        <input type="text" class="form-Input" placeholder="Email">
      </div>
      <div class="form-data">
        <input type="text" class="form-Input" placeholder="Senha">
      </div>
      <div class="form-submit">
        <button class="form-btn" type="submit">Entrar</button>
      </div>
      <div class="auth2">
        <button type="button" class="auth-btn">.</button>
        <button type="button" class="auth-btn">.</button>
      </div>
    </div>
  </form>
</div>