/* modal.component.css */
@use '../../../styles.sass' as global

.modal-overlay
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center

.modal-content 
  background: white
  padding: 10px 0px
  border-radius: 10px
  width: 500px
  text-align: center

.header
  padding: 0px 10px 3px
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid black
  color: global.$main-fontColor
  font-weight: 500

.body
  display: flex
  flex-direction: column
  min-height: 200px
  

form
  width: 90%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.form-data
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  input
    width: 100%