<!-- modal.component.html -->
<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">  
    <div class="header">
      <i (click)="close()" class="fa-solid fa-x"></i>
      <p>Como se manifestar?</p>
    </div>
  
    <div class="body">
      <div>
        <div class="containerUserImg">
          <img class="userImg" [src]="user?.picture" alt="imagem" />
        </div>

        <textarea name="descricao" id="descricao" placeholder="Escreva sua manifestação, seja específico."></textarea>
      </div>
  
      <div class="observations">
        <p>Quantidade de manifestações restantes: 3</p>
        <p>300 Caracteres restantes</p>
      </div>
    </div>
  
    <div class="container-buttons">
      <div>
        <button type="button">Selecionar secretaria</button>
        <button type="button">
          <i class="fa-solid fa-paperclip"></i>
          <span>Anexar</span>
        </button>
      </div>

      <button type="button">Manifestar</button>
    </div>
  </div>  
</div>


<!-- <div>
  <div class="header">
    <i class="fa-solid fa-x"></i>
    <p>Como se manifestar?</p>
  </div>

  <div class="body">
    <div>
      
    </div>

    <div class="observations">
      <p>Quantidade de manifestações restantes: 3</p>
      <p>300 Caracteres restantes</p>
    </div>
  </div>

  <div class="container-buttons">
    <button type="button">Selecionar secretaria</button>
    <button type="button">
      <i class="fa-solid fa-paperclip"></i>
      <span>Anexar</span>
    </button>
    <button type="button">Manifestar</button>
  </div>
</div> -->