*
  margin: 0px
  padding: 0px
  box-sizing: border-box

$main-bg: #F7F7F7
$card-bg: #FFFFFF
$sidebar-bg: #F7F7F7
$btn-background: #FFFFFF
$btn-alt-bg: #455FDE
$btn-hover-bg: #1E1E1E
$main-fontColor: #1E1E1E
$alt-fontColor: #787878
$btn-alt-fontColor: #ffffff
$main-fontFamilly: 'Poppins', serif
$alt-fontFamilly: 'Inter', sans-serif
$tag-pending: #ffea025d

a
  text-decoration: none