@use '../styles.sass' as global

*
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: #fbfbfb
  font-family: 'Poppins', serif

.container
  background-color: global.$main-bg
  font-family: 'Poppins'
