<div class="container">
  <div class="name-section">
    <h3>Meu perfil</h3>
  </div>

  <div (click)="edit()" class="background">
    @if (user?.imagem_background) {
    <img [src]="user!.imagem_background" alt="Imagem de fundo" loading="lazy" />
    }
  </div>

  <div class="row">
    <div class="userInfo">
      <div (click)="edit()" class="containerUserImg">
        @if (user!.imagem_perfil) {
        <img
          class="userImg"
          [src]="user!.imagem_perfil"
          alt="Imagem de perfil"
        />
        } @else {
        <h1>{{ user!.nome.substring(0, 1) | uppercase }}</h1>
        }
      </div>

      <h4 class="userName">{{ user?.nome | titlecase }}</h4>

      <p class="countUserName">{{ user?.email }}</p>
    </div>
    <button (click)="edit()" class="btn-default" type="button">
      Editar Perfil
    </button>
  </div>

  <nav>
    <div>
      <button routerLink="/user" type="button">Manifestações</button>
      <button routerLink="/user/respondidas" type="button">Respostas</button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<app-edit-user
  [isOpen]="isModalEditOpen"
  [close]="closeModalEdit.bind(this)"
></app-edit-user>
