<header>
  <h3>Configurações</h3>
</header>

<div class="container">
  <div class="title">
    <h3>Alterar Senha</h3>
  </div>

  <div class="configuracoes">
    <form>
      <label for="current-password">Senha atual</label>
      <input
        name="current-password"
        id="current-password"
        type="password"
        autocomplete="current-password"
        placeholder="Senha atual"
      />

      <label for="new-password">Nova senha</label>
      <input
        name="new-password"
        id="new-password"
        type="password"
        autocomplete="new-password"
        placeholder="Nova senha"
      />

      <label for="confirm-new-password">Confirmar nova senha</label>
      <input
        name="confirm-new-password"
        id="confirm-new-password"
        type="password"
        autocomplete="new-password"
        placeholder="Confirmar senha"
      />
    </form>
  </div>

  <div class="footer">
    <button type="submit" class="btn-default">Salvar</button>
  </div>
</div>

<div class="logout">
  <button (click)="onLogout()" type="button" class="btn-logout">
    <i class="fa-solid fa-sign-out-alt"></i>
    <span class="out">Desconectar conta</span>
  </button>
</div>
